<!DOCTYPE html>
<html lang="en">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<link rel="stylesheet" href="/sempai/css/bootstrap.min.css">
</head>
<!--<link rel="stylesheet" href="/css/narrow-jumbotron.css">-->
<!--<script src="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/js/bootstrap.js" integrity="sha384-XXXXXXXX" crossorigin="anonymous"></script>-->
<body>


<script>
var app = angular.module('myApp', []);
app.controller('formCtrl', function($scope) {
    $scope.master = {name:"",paid:10,registered:false};
    $scope.total = 0;
    $scope.clear = function() {
      $scope.student = angular.copy($scope.master);
    };
    $scope.addTotal = function() {
      if ($scope.list.length == 0) return 0;
      var sum = $scope.list.filter($scope.filter).reduce($scope.add);
      return sum.paid;
    };
    $scope.filter = function(e, i, a) {
      return e.registered == true;
    };
    $scope.add = function(a,b) {
      return {paid:a.paid + b.paid};
    };
    $scope.clear_all = function() {
      $scope.list = [];
      $scope.total = 0;
      $scope.clear();
    };
    $scope.register = function() {
      $scope.student['registered'] = true;
      $scope.list.push($scope.student);
      $scope.total += $scope.student.paid;
      $scope.clear();
    };
    $scope.preload = function() {
      $fake_last_week = [{name: "Daniel", paid: 10, registered: false}, {name: "Miyagi", paid: 10, registered:false}, {name: "Ali", paid: 8,registered:false},
        {name: "Kreeze", paid: 10,registered:false},{name: "Johnny", paid: 11,registered:false},
        {name: "Boby", paid: 10, registered:false},{name: "Tommy", paid:11, registered: false}];
      $scope.list = $scope.list.concat($fake_last_week);
    };
    $scope.update = function(student) {
      if (!student.registered) {
        student.registered = true;
        $scope.total += student.paid;
      } else {
        $scope.student = student;
      }
    }
    //remove to the real data holder
    $scope.removeItem = function removeItem(row) {
        var index = $scope.list.indexOf(row);
        if (index !== -1) {
            $scope.list.splice(index, 1);
        }
    }
    $scope.clear_all();
});
</script>

    <div class="container">
      <div class="header clearfix">
        <!--
        <nav>
          <ul class="nav nav-pills pull-xs-right">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Contact</a>
            </li>
          </ul>
        </nav>
        -->
        <h3 class="text-muted">Sempai</h3>
      </div>

      <div class="jumbotron">
        <div class="container" ng-app='myApp' ng-controller='formCtrl'>
          <div class='row'>
            <!--<div class='col-md-4 col-md-offset-3'>-->
            <div class='col-md-4'>
              <h1 class="display-5">Register</h1>
              <!--<div ng-app="myApp" ng-controller="formCtrl">-->
              <div>
                <form novalidate class='form-horizontal'>
                  <div class="form-group">
                    <button type='button' class='btn btn-lg btn-danger' ng-click="clear_all()">Clear All</button>
                    <button type='button' class='btn btn-lg btn-info' ng-click="preload()">Preload</button>
                  </div>
                  <div class="form-group">
                    <input type="text" ng-model="student.name" Placeholder='Name' class='form-control' required='' autofocus><br>
                  </div>
                  <div class="form-group input-group">
                    <span class="input-group-btn">
                      <button class="btn btn-secondary" type="button" ng-click="student.paid = student.paid - 1">-</button>
                    </span>
                    <input type="text" ng-model="student.paid" class="form-control" Placeholder='0' required='' autofocus><br>
                    <span class="input-group-btn">
                      <button class="btn btn-secondary" type="button" ng-click="student.paid = student.paid + 1">+</button>
                    </span>
                  </div>
                  <div class="form-group">
                    <button type='submit' text='Register' class='btn btn-lg btn-success' ng-click="register()">Register</button>
                  </div>
                </form>
              </div>
            </div>
            <div class='col-md-4'>
              <h2 class='display-5'>Registered</h2>
              <table class='table table-striped'>
                <tr ng-click="update(x)" ng-class="x.registered == false ? 'text-muted': ''" ng-repeat="x in list | orderBy:registered">
                  <td>{{ x.name }}</td>
                  <td>${{ x.paid }}</td>
                  <td>{{ x.registered ? 'present' : 'absent' }}</td>
                  <td>
                    <button type="button" ng-click="removeItem(x)" class="btn btn-sm btn-danger">
                      <i class="glyphicon glyphicon-remove-circle">x</i>
                    </button>
                  </td>
                </tr>
                <tr>
                  <td>Total</td>
                  <td>${{ addTotal() }}</td>
                </tr>
              </table>
            </div>
          </div>
        </div>
        <!--
        <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
        <p><a class="btn btn-lg btn-success" href="#" role="button">Sign up today</a></p>
        -->
      </div>

      <!--
      <div class="row marketing">
        <div class="col-lg-6">
          <h4>Subheading</h4>
          <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

          <h4>Subheading</h4>
          <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>

          <h4>Subheading</h4>
          <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
        </div>

        <div class="col-lg-6">
          <h4>Subheading</h4>
          <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

          <h4>Subheading</h4>
          <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>

          <h4>Subheading</h4>
          <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
        </div>
      </div>
      -->

      <footer class="footer">
        <p>&copy; krutisfood 2016</p>
      </footer>

    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="/sempai/js/ie10-viewport-bug-workaround.js"></script>


</body>
</html>


